Stack's compliance to RFC 4443, Section 2.4?

**According to RFC 4443, Section 2.4**
 **(e.6) A packet whose source address does not uniquely identify a single node -- e.g., the IPv6 Unspecified Address, an IPv6 multicast address, or an address known by the ICMP message originator to be an IPv6 anycast address.**

i.e

 [RFC 4443, Section 2.4] When receiving a packet from a non-unique source address, the DUT should:
• Silently drop it
• Do not generate any ICMPv6 error response

But the stack only checks for unspecified address and not the multicast address.

This leads to incorrect behavior where it sends an ICMPv6 error message in response to IPv6 packets containing errors from a multicast source address.
